* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

body.no-scroll {
  overflow: hidden;
}

.nav-close,
.nav-open {
  display: none;
}

.first-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	width: 100%;
}

.first-div-img  {
	display: flex;
	gap: 20px;
}

.first-div-img img {
	width: 70px;
}

.inner-nav-link {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.inner-nav-link a {
	text-decoration: none;
	color: black;
}

.second-nav {
	margin: 10px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second-nav-img {
	width: 70px;
}

.second-nav-img img {
	width: 100%;
}

.second-nav-link a {
	text-decoration: none;
	color: black;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
	padding: 20px 0;
	height: 70vh;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	height: 70vh;
}

.top {
	display: flex;
	align-items: center;
	gap: 2px;
}

.fas {
	font-size: 50px;
	cursor: pointer;
	color: white;
}

.frame {
	width: 100%;
	height: 70vh;
	overflow: hidden;
	position: relative;
}

.frame h1 {
	color: white;
	position: absolute;
	top: 30%;
	left: 28%;
	z-index: 2;
	font-size: 100px;
	font-weight: 400;
	text-align: center;
	font-family: "Anton", sans-serif;
}

.frame a {
	color: black;
	position: absolute;
	top: 75%;
	left: 48%;
	z-index: 2;
	align-items: center;
	text-decoration: none;
	background-color: white;
	border-radius: 50px;
	padding: 8px 10px;
}

.frame a:hover {
	background-color: grey;
}

.slider {
	display: flex;
	transition: all 1s ease;
}

.image {
	width: 100%;
	height: 70vh;
	object-fit: cover;
}

.bottom {
	display: flex;
	gap: 30px;
}

.button {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid white;
	cursor: pointer;
}

.member {
	margin: 20px 0;
}

.member img {
	width: 100%;
}

.woman {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	align-items: top;
	margin: 10px 10%;
	gap: 50px;
}

.woman-text {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-left: 20px;
	max-width: 400px;
}

.woman-text h1 {
	font-size: 70px;
}

.woman-text p {
	font-size: 17px;
}

.woman-btn a {
	padding: 10px 18px;
	text-decoration: none;
	background: red;
	color: white;
}

.woman-image {
	max-width: 900px;
	height: 602px;
}

.woman-image img{
	max-width: 100%;
	height: 100%;
	object-fit: cover;	
}

.whattotest-box {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	margin: 50px 5%;
}

.whattotest {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
}

.what-div {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.what-div img{
	width: 100%;
	object-fit: cover;
}

.faq-section {
    display: flex;
    flex-direction: column;
    margin: 100px 5%;
    align-items: center;
    gap: 10px;
}

.faq-section p {
    margin-bottom: 15px;
    color: black;
}

.faq-title {
    font-size: 40px;
    color: black;
}

.faq {
    width: 1000px;
    border-bottom: 0.5px solid black;
    cursor: pointer;
    margin: 0 30px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.faq-question h3 {
    font-weight: 500;
}

.faq-question i{
    font-size: 10px;
    color: black;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;

}

.faq-answer p{
    padding: 20px 20px 0;
    line-height: 1.6;
}

.faq.active .faq-question {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.faq.active .faq-question h3 {
    color: white;
}

.faq.active .faq-answer {
    max-height: 800px;
    animation: fade 0.5s ease-in-out;
}


.faq.active .fas {
    transform: rotate(90deg);
    color: white;
}

.fas {
    transition: transform 0.3s ease-in;
}

.trending {
	background-color: black;
	padding: 40px 15% 10px;
}

.trending-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.trending-header h1 {
	font-size: 100px;
}

.trending-arrow {
	display: flex;
	gap: 10px;
}

.trending-arrow i{
	padding: 5px 7px;
	background: red;
	border-radius: 50%;
	color: white;
	font-size: 20px;
	cursor: pointer;
}


.trending-products-container {
	display: grid;
	grid-template-columns: 182px 182px 182px 182px 182px 182px 182px 182px 182px 182px;
	gap: 20px;
	margin: 40px 0 80px;
}

.trending-products {
	cursor: pointer;
	font-weight: 100;
}

.trending-products a {
	text-decoration: none;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.trending-products h4 {
	font-weight: 300;
}

.trending-products-image {
	height: 250px;
}

.trending-products-image img {
	width :100%;
	object-fit: cover;
	height: 100%;
}

.frame-slide {
	max-width: 1000px;
	overflow: hidden;
}

.slider-2 {
	transition: all 1s ease;
}

.bbt{
    background-color: black;
    padding: 20px 0 30px;
    text-align: center;
}


 .pa-content {
    display: flex;
    margin: 100px 10% 80px;
    align-items: top;
    justify-content: center;
    gap: 80px;
}

.pa-header {
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.pa-header h1 {
    font-size: 40px;
    color: #172E57;
}

.pa-header p {
    font-size: 17px;
    line-height: 27px;
    color: #172E57;
}

.pa-header ul li {
    font-size: 17px;
    line-height: 27px;
    color: #172E57;
}


.lottie img{
    max-width: 390px;   
}

.assign {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 650px;
	gap: 30px;
	padding: 0 20px;
	margin: 100px auto;
	align-items: center;
}

.assign p {
	line-height: 30px;
	font-size: 17px;
	font-weight: 300;
}

.assign a {
	padding: 10px 15px;
	text-decoration: none;
	color: white;
	background-color: black;
	max-width: 150px;
	margin: 0 auto;
}

.about-section {
	background-color: black;
	padding: 40px 0;
}

.about-section h1{
	color: white;
    font-size: 70px;
    max-width: 800px;
    text-align: center;
}

.about-cover {
    position: relative;
}

.about-position {
    position: absolute;
    top: 100px;
    left: 100px;
}

.about-cover h1 {
    color: white;
    font-size: 50px;
}

.about-cover img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.form-content {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-content h1{
    color: #172E57;
    font-size: 70px;
    max-width: 800px;
    text-align: center;
}

.form-container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  margin: 20px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-top: 0;
    color: #333;
}

.form-container p {
    font-size: 14px;
    color: #666;
}

/**form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}**/

.input-box input{
    width: 100%;
}

.input-box textarea{
    width: 100%;
}

.column {
    display: flex;
    column-gap: 30px;
}

label {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}

input {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-info {
    margin: 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container h1, 
.form-container p{
    margin-bottom: 20px;
}

.form-container button {
    margin-top: 20px;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #172E57;
}

.contact_message {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 5px;
    max-width: 400px;
    height: 200px;
    text-align: center;
    margin: 20px auto;
    display: none;
}

.contact_message img {
    width: 100px;
    display: block; /* To make sure the image is block-level and centered */
    margin: 0 auto;
}

footer {
	background-color: #242733;
	padding: 30px 0;
}

hr {
	border: 0.5px solid white;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	gap: 40px;
}

.footer-container a {
	color: #98a2aa;
	text-decoration: none;
}

.footer-container img {
	 display: block;
     margin-left: auto;
}

.footer-container p {
	color: #98a2aa;
}

.scrollup {
    text-decoration: none;
    position: fixed;
    right: 32px;
    bottom: -50%;
    background-color: red;
    display: inline-flex;
    padding: 10px;
    font-size: 22px;
    color: white;
    z-index: 2;
    border-radius: 50%;
    transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover {
    transform: translateY(-10px);
}

.show-scroll {
    bottom: 22px;
}

/* MEDIA QUERIES */

/* Small Devices (Phones) */
@media (max-width: 600px) {
  .menu-collapse {
    position: fixed;
    top: 0;
    right: -100%;
    background: black;
    width: 80%;
    backdrop-filter: blur(8px);
    transition: right .4s;
    display: block;
    height: 100vh;
    z-index: 3;
    padding: 50px 25px;
    color: white;
    text-align: left;
  }

  span {
  	display: none;
  }

  .menu-collapse a {
    display: block;
    padding-bottom: 30px;
    text-align: left;
    font-size: 30px;
  }

  .menu-collapse a {
    color: white;
  }

  .nav-open,
  .nav-close {
    display: block;
    font-size: 25px;
  }

  .nav-close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .show-menu {
    right: 0;
  }

  .frame h1 {
    font-size: 40px;
    top: 30%;
    left: 10%;
  }

  .frame a {
    top: 65%;
    left: 35%;
    padding: 8px 10px;
    font-size: ;
  }

  .woman {
    grid-template-columns: 1fr;
    margin: 20px;
    text-align: center;
  }

  .woman-text {
    padding: 0;
    max-width: 100%;
  }

  .woman-text h1 {
    font-size: 36px;
  }

  .woman-image {
    height: ;
  }

  .whattotest {
    grid-template-columns: 1fr;
  }

  .faq {
    width: 100%;
    margin: 0;
  }

  .trending-header h1 {
    font-size: 40px;
  }

  .about-cover h1 {
    color: white;
    font-size: 30px;
}

.about-cover img {

    height: 200px;
    object-position: left;
}

   footer {
		font-size: 12px;
	}

	.fas {
		font-size: 20px;
	}
}

/* Medium Devices (Tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .first-nav {
    flex-direction: row;
    padding: 10px 20px;
  }

  .inner-nav-link {
    gap: 20px;
  }

  .frame h1 {
    font-size: 60px;
    left: 20%;
  }

  .frame a {
    left: 40%;
  }

  .woman {
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 30px;
  }

  .whattotest {
    grid-template-columns: 1fr 1fr;
  }

  .trending-header h1 {
    font-size: 60px;
  }

  .faq {
    width: 90%;
  }

  .footer-container {
    flex-direction: column;
  }
  footer {
		font-size: 12px;
	}
}

@media only screen and (max-width: 800px) {
    .pa-content  {
        flex-direction: column;
    }

    .left {
        order: 1;
    }

    .right {
        order: 2;
    }
}

@media only screen and (max-width: 570px) {

    .lottie img{
        max-width: 300px;   
    }

}

/* Large Devices (Desktops and above) */
@media (min-width: 1025px) {
  
  }
}





















